@selection_color: #19bb9b;
@selection_font_color: #fff;

::-moz-selection {
  background: @selection_color;
  color: @selection_font_color;
  text-shadow: none;
}

::selection {
  background: @selection_color;
  color: @selection_font_color;
  text-shadow: none;
}