* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-user-select: none;
}

button,
a,
input,
textarea,
select {
  outline: none;
  color: inherit;
  background-clip: padding-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.disabled {
  .pointer-events(none);
  cursor: default;
}